<nav class='navbar navbar-expand-lg navbar-dark bg-dark sticky-top'>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <a class="navbar-brand" href="#">{{ title }} - {{ chapter }}</a>

    <div class='navbar-nav navbar-center'>
      <a class="nav-item nav-link navbar-button" routerLink='home' routerLinkActive='active'>Home</a>
      <a class="nav-item nav-link navbar-button" routerLink='about' routerLinkActive='active'>About</a>
      <a class="nav-item nav-link navbar-button" routerLink='events' routerLinkActive='active'>Events</a>
    </div>

    <div class='navbar-nav navbar-right'>
      <a class='nav-item nav-link navbar-button'>Contact Us</a>
    </div>
  </div>
</nav>

<div class='content'>
  <router-outlet></router-outlet>
</div>


